/* LOGO */  

.container-wset {
    height: 150px;
    width:100%;
}

/* NAVBAR  */

.navbar-list {
	list-style: outside none none;
    margin-bottom: 0;
    width:100%;
}
.navbar  .container {
    width: 100%;
    background-color: white;
    display:table;
}
.container {
    max-width: 800px;
    position: relative;
}
li.navbar-item {
    display: inline;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}
.navbar-link  {
    display: inline-block;
    color: #222;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 6.5rem;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
}
.navbar a.current {
    color:red;
}
.navbar a.navbar-link:hover {
    color:red;
    background-color: #F2F2F2;
}

.navbar {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #D8D8D8;
    display: block;
    height: 6.5rem;
    width: 100%;
    z-index: 99;
}
.shadow
{
  -moz-box-shadow: 4px 4px 10px #999;  
  -webkit-box-shadow: 4px 4px 10px #999;  
  box-shadow:4px 4px 6px #999;
}
/*.navbar-spacer {
    background: #fff none repeat scroll 0 0;
    display: block;
    border-bottom: 1px solid #D8D8D8;
    height: 3rem;
    width: 100%;
    z-index: 99;
} */
/* MAIN BODY */
#main-body{
	margin-top: 3rem;
	padding-top: 1.5rem;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
	background-color: #F2F2F2;
    border-radius: 1%;
}
/* INDEX BIT */

#main-body .sub-home {
    opacity: 0.75;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #666;
}
#main-body .sub-home:hover {
    opacity:1;
}
.sub-home p {
    margin-bottom: 1.5rem;
    text-align: justify;
}
.sub-home h5 {
    color:red;
    font-weight: bold;
}
.sub-home p.timestamp {
    font-size: 1rem;
    text-align: right;
    margin-bottom: 0rem;
    opacity: 0.75;
}
.sub-home hr {
    margin-top: 0.5rem;
}
/* ABOUT TEXT BIT */
.sub-about{
    opacity: 0.75;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.sub-about:hover {
    opacity:1;
}
.sub-about p {
	text-align: justify;
}
.sub-about h5 {
	color:red;
}

